.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

.button-group {
    width: 15%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.button-group .btn-outline-danger {
    margin-left: 5px;
}

.list-group-item span {
    width: 85%
}

.done {
    text-decoration: line-through;
}